/* common style  */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* navabr style start  */
header{
    border-bottom: 2px solid rgb(229, 229, 229);
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.logo{
    font-size: 30px;
    font-weight: 700;  
}
.nav-items a{
text-decoration: none;
color: #000;
margin: 0 10px;
font-weight: 700;
}